/*
** Fonts
*/
@font-face {
    font-family: 'bangersregular';
    src: url('font/bangers-regular-webfont.woff2') format('woff2'),
         url('font/bangers-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*
** Layout
*/
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

main {
    width: 600px;
    margin: 50px auto;
}

#letter-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(13, 36px);
    grid-template-rows: 40px;
    border-top: thin solid #000;
    padding-top: 10px;
}

#hangman-container {
    margin-bottom: 30px;
    height: 280px;
}

#answer-container {
    height: 45px;
    padding: 10px 0;
    font-family: 'bangersregular';
    font-size: 36px;
    letter-spacing: 3px;
    text-align: center;
}

#game-over, #you-win {
    width: 200px;
    height: 75px;
    background-color: #FFF;
    color: #000;
    text-align: center;
    font-family: 'bangersregular';
    font-size: 60px;
    padding: 25px 50px;
    position: relative;
    z-index: 99;
    box-shadow: 3px 3px 20px #000;
    margin: -400px auto;
}

#main-menu {
    width: 300px;
    height: 145px;
    background-color: #FFF;
    color: #000;
    text-align: center;
    font-family: 'bangersregular';
    font-size: 60px;
    padding: 25px 50px;
    position: relative;
    z-index: 99;
    box-shadow: 3px 3px 20px #000;
    margin: -400px auto;
}

#overlay {
    position: absolute;
    z-index: 98;
    background-color: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
}

/*
** General
*/
#game-over > *, #main-menu > *, #you-win > * {
    display: block;
    margin: 0 auto;
}

#game-over a, #main-menu a, #you-win a {
    font-size: 12px;
    text-decoration: none;
    background-color: #000;
    padding: 5px 10px;
    color: #FFF;
    font-family: sans-serif;
    width: 70px;
}

#game-over a:hover {
    background-color: #2b2b2b;
}

h1 {
    font-family: 'bangersregular';
    text-align: center;
    font-size: 60px;
}

figure {
    font-family: 'bangersregular';
    font-size: 24px;
    border: thin solid #000;
    width: 15px;
    height: 20px;
    padding: 10px; 
    margin: 0;
    cursor: pointer;
    text-align: center;
}

#hangman-container img {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}

figure:hover {
    background-color: #ebebeb;
}

.hide {
    display: none;
}

.not-valid {
    cursor: not-allowed !important;
    opacity: 0.6;
}